body {
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: #CCC;
    line-height: 120%;
}

a {
    color: #9C1143;
    text-decoration: none;
}

p {
    width: 700px;
}

a:hover {
    text-decoration: underline;
}
/*
li {
    max-width: 700px;
}*/

#title {
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #999;
    text-shadow: 1px 1px 0 white, -1px -1px 0 rgba(0,0,0,.5);
    margin: 40px 0px 50px 0px;
}

#links {
    text-align: right;
}

span.sep {
    margin: 0px 10px 0px 10px;
    color: #999;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background: #EEE;
    padding: 50px;
    margin-top: -50px;
    box-shadow: 0 0 20px -5px rgba(0,0,0,.5);
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 36px;
    width: 100%;
    margin: 0px 0px 30px 0px;
    padding-top: 30px;
}

pre {
    /*margin-top: -5px;*/
    /*margin-bottom: -22px;*/
}

pre.outside {
    width: 700px;
}

code[lang='C++'], code.output {
    border-radius: 5px;
    font-family: 'Ubuntu Mono', ;
    font-size: 16px;
    text-shadow: 0 1px 2px black;
    box-shadow: inset 0 2px 5px 0 black;
}

span.inline {
    font-family: 'Ubuntu Mono', monospace;
    background: rgba(0,0,0,.1);
    border-radius: 3px;
    padding: 0px 1px 0px 1px;
    margin: 0px -1px 0px -1px;
    border: 1px solid rgba(0,0,0,.2);
}

.license {
    font-size: 14px;
    color: #999;
    text-align: center;
    text-shadow: 0 1px 1px white;
}

.license a {
    opacity: .8;
}

hr {
    width: 790px;
    margin: 10px 5px 10px 5px;
}